body{
  font-family: sans-serif;
  overflow-x: hidden;
}
.start-sensors-button {
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #769bff;
  background-color: #ffffff;
  width: 35px;
  text-align: center;
}
#start-sensors-button:hover{
  cursor: pointer;
  background: #769bff;
}

#sta {
    width: 20%;
    border-radius: 20px;
    height: 60px;
    padding: 20px;
    background: #01DF01;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    animation-name: null;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes alert{
  from {background-color: #8B0000;}
  to {background-color: #FE2E2E;}
